@{
  Layout = "_Layout";
}

    <h1>Your Library</h1>
    <a href='/albums'>View Albums <span class="material-symbols-outlined">
arrow_right_alt
</span></a>
    <br>
    <a href='/albums/new'>New Album <span class="material-symbols-outlined">Add_circle</span></a>