@{
  Layout = "_Layout";
}
    <h1>Add an album</h1>
    <p>Add an album here:</p>

    <form action="/albums" method="post">
      <label for="albumName">Album name</label>
      <input id="albumName" name="albumName" type="text">
      <label for="artistName">Artist</label>
      <input id="artistName" name="artistName" type="text">
      <input type="submit" value="Add" class="btn btn-success" />
    </form>

    <p><a href="/">Back home</a></p>
    <p><a href="/albums">Back to categories.</a></p>
