body {
  background-color: black;
  color: white;
}

a {
  font-size: 2em;
  text-decoration: none;
  color: white;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}