.navbar-brand {
  margin-left: 75px;
  background-color: black;
  color: white;
}

.navbar {
  margin: auto;
  margin-right: 250px;
}

.spotify {
  font-size: 80px;
  margin: auto;
}

.navbar-brand:hover {
  color: greenyellow;
}

body {
  background-color: black;
  color: white;
}

a {
  font-size: 2em;
  text-decoration: none;
  color: white;
}

a:hover {
  color: greenyellow;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.container {
  float: left;
  margin: auto;
  margin-left: 100px;
  width: 100vh;
  max-width: 450px;
}