@{
    Layout = "_Layout";
}

@model List<SpotifyClone.Models.Song>

<div class="container">
  @if (Model.Count == 0)
  {
    <p>No songs available.</p>
  }
  else
  {
    <ul>
      @foreach (SpotifyClone.Models.Song song in Model)
      {
        @* <h3>@song.Album</h3> *@
        <h3><img src="@song.AlbumArtworkUrl" alt="album-art" width="175px" height="175px"></h3>
        <h3>@song.Title <span class="material-symbols-outlined">play_circle</span></h3>
        <p class="transparent">@song.Artist</p>

      }
    </ul>
  }
</div>
