@{
  Layout = "_Layout";
}

    <a href='/albums'>View Albums <span class="material-symbols-outlined">
arrow_right_alt
</span></a>
    <br />
    <a href='/albums/create'>New Album <span class="material-symbols-outlined">Add_circle</span></a>
    <br />
    <a href='/songs/create'>New Song <span class="material-symbols-outlined">Add_circle</span></a>
